
<div class="container">
    <div class="card-deck text-center">
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Drużyny</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let team of teams'>
                <li class="list-group-item" (click)='onClick($event, game)'><a>{{team.name}}</a></li>         
              </ul>
          <p class="text-right"><a href="url">wiecej..</a></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Dodaj drużynę</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Zawodnicy</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let player of players'>
                <li class="list-group-item" (click)='onClick($event, game)'><a>{{player.firstName}} vs. {{player.lastName}}</a></li>         
              </ul>
          <p class="text-right"><a href="url">wiecej..</a></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Dodaj zawodnika</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Rozgrywki</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let game of games'>
                <li class="list-group-item" (click)='onClick($event, game)'><a>{{game.host}} vs. {{game.opponent}}</a></li>         
              </ul>
          <p class="text-right"><a href="url">wiecej..</a></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Dodaj rozgrywkę</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Boiska</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <p class="text-right"><a href="url">wiecej..</a></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Dodaj boisko</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Moduły</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <p class="text-right"><a href="url">wiecej..</a></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Dodaj moduł</button>
        </div>
      </div>
    </div>