
<div class="container">
    <div class="card-deck text-center">
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Drużyny</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let team of teams'>
                <li class="list-group-item" (click)='onClick($event, team)'><a>{{team.name}}</a></li>         
              </ul>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Zawodnicy</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let player of players'>
                <li class="list-group-item" (click)='playerClick($event, player)'><a>{{player.firstName}} {{player.lastName}}</a></li>
              </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" (click)='addPlayer($event)'>Dodaj zawodnika</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Rozgrywki</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" *ngFor='let game of games'>
                <li class="list-group-item" (click)='gameClick($event, game)'><a>{{game.host}} vs. {{game.opponent}}</a></li>         
              </ul>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Boiska</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngFor='let field of fields'>
            <li class="list-group-item" (click)='fieldClick($event, field)'><a>{{field.name}}</a></li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" (click)='addField($event)'>Dodaj boisko</button>
        </div>
      </div>
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Moduły</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngFor='let module of modules'>
            <li class="list-group-item" (click)='onClick($event, module)'><a>{{module.macAddress}}</a></li>         
          </ul>
        </div>
      </div>
    </div>
