<div class="media">
    <div class="media-body">
      <div class="container">
          <h2>Player</h2>
          <div class="list-group">
            <a href="#" class="list-group-item">Imię</a>
            <a href="#" class="list-group-item">Nazwisko</a>
            <a href="#" class="list-group-item">Wiek</a>
            <a href="#" class="list-group-item">Wzrost</a>
            <a href="#" class="list-group-item">Waga</a>
            <a href="#" class="list-group-item">Numer</a>
            <a href="#" class="list-group-item">Pozycja</a>
            <a href="#" class="list-group-item">Dystans w meczu</a>
          </div>
        </div>
  </div>
  <img class="ml-3" src="http://individual.icons-land.com/IconsPreview/People/PNG/Sport/64x64/SoccerPlayer_Male_Dark.png" alt="Generic placeholder image">
</div>