/* You can add global styles to this file, and also import other style files */
body {
  background: #1a3c33 !important;
  color: #ffffff !important;
}

.logo {
  width: 114px;
  height: 25px;
}

a {
  cursor: pointer;
}

.card {
  border: none;
}

.card-body {
  background: #0b4c45;
}

.card-header {
  background: #0b4c45e6;
  color: #ffffff;
}

site-header {
  color: #ffffff;
}

.bg-card-green {
  background: #0b4c45 !important;
}

.hello-user {
  margin: 0 1px;
}

.list-group-item {
  background: none !important;
  border: none !important;
  color: #ffffff;
}

.btn-primary {
  background: #39d52d !important;
  border: none !important;
}

.btn-primary:hover {
  background: #269b1d !important;
}
